# Token is the discord bot's API token
TOKEN=

# The info for the gmail account you want emails sent from
# Note: GMAIL_PASS is the app password, which looks like "abcd efgh ijkl mnop" rather than the account's actual password
GMAIL_EMAIL=example@gmail.com
GMAIL_PASS=abcd efgh ijkl mnop

# The URI for the mongoDB database storing configs for each server
MONGO_URI=mongodb://localhost:27017/verification